body{
  font-family: 'Open Sans';
  color: white;
  background-color: black;
}

#w{
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
  bottom: 0;
}

#c{
  position:absolute;
  top:0;
  left:0;
  background-color:black;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#code-box{
  display: block;
  position: relative;;
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 200px;
}

#code-box h2{
  font-weight: 200;
}

#code{
    /*border: 1px solid green;*/
    text-align: center;
}

#code h2{
  font-weight: 800;
}

#container{
  display: block;
  width: 90%;
  margin: 0 auto;
  /*height: 100vh;*/
}

#container .music-style{
  width: 24%;
  display: inline-block;
  text-align: center;
  /*height: 50vh;*/
  position: relative;
}

#container .music-style h2{
  font-size: 48px;
}

#container .music-block{
  width: 80%;
  display: block;
  margin: 0 auto;
  /*border: 1px solid red;*/
  background-color: white;
  min-height: 50vh;
  position: relative;
}

#container .music-block .counter{
  width: 100%;
  display: block;
  position: absolute;
  background: pink;
  height: 0px;
  bottom: 0;
}

.dance-gif{
  /*border: 1px solid white;*/
  left: -140px;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.empty{
  height: 100px;
  width: 100%;
}




svg {
  z-index: 999;
  position: relative;
}

#clipPath {
  -webkit-animation: waterClimb 9s linear 1;
  transform: translateY(-110px);
}
#clippingPath{
  -webkit-animation: waterSlide 1.1s infinite linear;
}

@-webkit-keyframes waterSlide {
  0%   { transform: translateX(126px); }
  100% { transform: translateX(-273px); }
}

@-webkit-keyframes waterClimb {
  0% { transform: translateY(50px); }
  100% { transform: translateY(-70px); }
}
/*
.frame {
  display: inline-block;
  padding: 0;
  border-radius: 3px;
  font-size: 7em;
  text-shadow: 1px 2px  white;
  color: green;
  text-align: center;
  display: block;
  padding: 60px 0px 0px 0px;
  background-color: black;
}*/
/*.frame canvas {
  display: block;
  padding: 60px 0px 0px 0px;
  background-color: black;
}*/

#tree{
display:block;
z-index: 10;
position: relative;
/*position:absolute;*/
/*left:50%;
top:50%;*/
/*transform:translate(-50%,-50%);*/
}


/*


*/
.spotlight_box{
  width: 25%;
  height: 100%;
  border: 1px solid red;
  position: absolute;
}

.stage_highlight {
  position: absolute;
  top: 0;
  left: 138px;
  width: 30vh;
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(ellipse closest-side at 50% 82%, rgb(225,225,225), rgba(225,225,225,0) 100%);
  animation: move_highlight 5s linear infinite;
}
.spotlight_swivel {
  animation: rotate_spotlight 5s linear infinite;
}
.lamp {
  position: relative;;
  width: 20vh;
  height: 400vh;
  background-image: radial-gradient(ellipse, rgba(225,225,225,0.5), rgba(225,225,225,0.5) 25%, rgba(82,116,168,0) 50%);
  top:-220vh;
  left:163px;
  transform: perspective(23vh) rotateX(30deg);
}
.spotlight {
  opacity: 0.5;
  transform: scale(1.5,3);
  position: absolute;
  top: -20vh;
  left: calc(50% - 75vh);
}
.spotlight::after {
  content: '';
  position: absolute;
  top: -50vh;
  background-image: radial-gradient(ellipse closest-corner at 75% 75%, rgba(225,225,225,0.2), rgba(225,225,225,0));
  border-radius: 100%;
  width: 100vh;
  height: 100vh;
  clip: rect(50vh, 100vh, 100vh, 50vh);
  transform: rotate(45deg);
}

@keyframes rotate_spotlight {
  0% {
    transform: rotate(0deg) scaleY(1) translateY(0);
  }
  25% {
    transform: rotate(-1deg) scaleY(1.1) translateY(-1vh);
  }
  50% {
    transform: rotate(0deg) scaleY(1) translateY(0);
  }
  75% {
    transform: rotate(1deg) scaleY(1.1) translateY(-1vh);
  }
}

@keyframes move_highlight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1vh);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-1vh);
  }
}


/************************************/

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  background: black;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 115px;
  width: 140px;
  height: 140px;
  margin: -70px 0 0 -70px;
  border: 3px solid #3498db;
  border-top-color: #3498db;
  border-radius: 0%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
