body{
  font-family: 'Open Sans';
}

#code-box{
  display: block;
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 200px;
}

#code-box h2{
  font-weight: 200;
}

#code{
    border: 1px solid black;
    text-align: center;
}

#code h2{
  font-weight: 800;
}

#container{
  display: block;
  width: 90%;
  margin: 0 auto;
}

#container .music-style{
  width: 24%;
  display: inline-block;
}

#container .music-block{
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 1px solid darkgrey;
  min-height: 300px;
  position: relative;
}

#container .music-block .counter{
  width: 100%;
  display: block;
  position: absolute;
  background: pink;
  height: 0px;
  bottom: 0;
}





svg {
  z-index: 999;
  position: relative;
}

#clipPath {
  -webkit-animation: waterClimb 9s linear 1;
  transform: translateY(-110px);
}
#clippingPath{
  -webkit-animation: waterSlide 1.1s infinite linear;
}

@-webkit-keyframes waterSlide {
  0%   { transform: translateX(126px); }
  100% { transform: translateX(-273px); }
}

@-webkit-keyframes waterClimb {
  0% { transform: translateY(50px); }
  100% { transform: translateY(-70px); }
}

#random{
  
}
